/* css style sheet for Pintereach marketing website */

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: black dotted 1px;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS RESET*/

body {
    background-color: transparent;
    max-width: 100%;
    margin:auto;
    box-sizing:border-box;
    font-family: 'PT Sans', sans-serif;
}

.topNav{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.pintereachLogoContainer{
    display:flex;
    padding:2%;
    background-color: #C8D96F;
}

.pintereachLogoContainer a{
    font-size:2rem;
    color:#5C573E;

}
.linksContainer{
    display:flex;
    margin: 1%;
    flex-grow: 1;
    justify-content:center;
}

.linksContainer a{
    margin-right:8%;
    margin-left:8%;
    padding:1%;
}
.getPintereachContainer{
    display:flex;
    padding:2%;
}

.topSection{
    background-color:#C4F7A1;
}

.bottomSection{
    background-color:#A5B452;
}

footer{
    background-color: #C8D96F;
}







